
 <!--  <div class="dropdown">
    <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Connexion
    </button>
    <div class="dropdown-menu">
      <form (ngSubmit)="login()">
        <div class="form-group">
          <label for="email">Nom d'utilisateur</label>
          <input type="text" class="form-control" id="username" [(ngModel)]="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary" (click)="login()">Se connecter</button>
      </form>
    </div>
  </div>
  <app-navbar></app-navbar> -->

 
    
  
  <section class="gradient-form h-full ">
    <div class="container h-full p-10">
      <div
        class="g-6 flex h-full flex-wrap items-center justify-center ">
        <div class="w-full">
          <div
            class="block rounded-lg ">
            <div class="g-0 lg:flex lg:flex-wrap">
              <!-- Left column container-->
              <div class="px-4 md:px-0 lg:w-6/12">
                <div class="md:mx-6 md:p-12">
                  <!--Logo-->
                  <div class="text-center">
                    <svg  class="mx-auto" height="150px" width="150px" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0.00 0.00 522.00 430.00">
                      <path fill="#2b170f" d="
                        M 201.07 366.68
                        C 181.38 353.02 161.18 341.09 138.47 333.09
                        C 124.77 328.27 114.75 324.41 104.02 322.53
                        C 98.51 321.56 96.00 318.99 96.00 313.48
                        Q 96.00 168.62 96.00 23.77
                        C 96.00 19.09 97.27 14.82 103.01 16.49
                        Q 116.83 20.52 133.13 28.97
                        Q 172.89 49.58 207.76 77.52
                        C 216.82 84.78 225.01 92.91 232.94 101.30
                        C 244.71 113.73 253.62 127.51 253.64 145.31
                        Q 253.77 271.78 253.51 398.25
                        Q 253.49 407.03 252.52 415.82
                        A 1.47 1.47 0.0 0 1 250.46 417.00
                        Q 248.59 416.15 247.28 414.23
                        C 243.48 408.66 239.80 403.06 235.31 398.07
                        C 224.65 386.24 214.13 375.75 201.07 366.68
                        Z
                        M 124.98 299.37
                        C 131.38 302.22 140.09 304.38 150.25 307.99
                        C 176.99 317.48 201.60 332.47 223.91 349.83
                        Q 226.16 351.58 228.08 353.76
                        A 0.39 0.39 0.0 0 0 228.76 353.50
                        C 228.77 352.75 228.49 352.21 228.49 351.49
                        Q 228.52 256.01 228.48 160.52
                        Q 228.48 150.82 227.67 146.65
                        C 224.02 127.81 207.54 111.79 193.05 100.38
                        Q 159.67 74.10 121.68 54.07
                        Q 121.00 53.71 121.00 54.48
                        L 121.00 298.16
                        Q 121.00 298.81 121.65 298.87
                        L 123.96 299.10
                        Q 124.49 299.15 124.98 299.37
                        Z"
                      />
                      <path fill="#2b170f" d="
                        M 356.05 58.40
                        C 381.06 44.04 405.67 31.17 432.93 21.44
                        C 437.18 19.92 440.95 20.22 440.95 25.75
                        Q 441.01 171.50 440.99 317.25
                        C 440.99 322.68 437.48 324.28 432.50 325.51
                        Q 419.54 328.72 397.01 335.53
                        Q 354.17 348.47 319.24 373.03
                        C 306.92 381.69 296.34 392.05 286.51 403.34
                        C 282.68 407.74 279.32 413.09 275.77 418.03
                        C 273.40 421.32 270.00 420.43 269.92 416.20
                        C 269.79 410.32 269.52 404.21 269.52 398.52
                        Q 269.48 277.51 269.50 156.50
                        C 269.51 152.19 269.52 146.08 271.44 141.52
                        Q 278.77 124.14 289.79 111.77
                        Q 317.77 80.38 356.05 58.40
                        Z
                        M 294.90 163.06
                        Q 294.93 163.55 294.68 164.05
                        Q 294.50 164.39 294.50 164.78
                        L 294.50 357.32
                        A 0.25 0.25 0.0 0 0 294.93 357.50
                        Q 298.15 354.33 301.79 351.80
                        C 324.57 335.94 347.60 322.93 373.97 313.93
                        Q 383.87 310.56 410.48 302.84
                        C 411.68 302.49 413.93 302.15 415.57 301.55
                        Q 416.00 301.39 416.00 300.94
                        L 416.00 59.74
                        Q 416.00 57.88 414.33 58.68
                        C 395.56 67.66 377.36 77.78 359.62 88.60
                        Q 335.73 103.17 318.65 119.65
                        C 310.38 127.63 293.87 150.23 294.90 163.06
                        Z"
                      />
                      <path fill="#2b170f" d="
                        M 83.33 331.06
                        C 84.19 331.63 85.31 332.58 86.32 332.79
                        Q 101.72 336.06 116.88 340.25
                        C 133.54 344.84 146.63 351.31 162.79 359.48
                        C 170.43 363.35 206.41 384.12 207.18 391.99
                        A 1.54 1.53 6.6 0 1 205.16 393.58
                        C 202.39 392.63 199.74 391.78 197.14 390.47
                        Q 149.58 366.39 97.82 353.93
                        C 86.43 351.18 72.05 349.54 59.22 346.69
                        C 55.30 345.82 54.01 344.10 54.01 340.19
                        Q 53.99 194.59 54.01 49.00
                        C 54.01 41.02 58.75 40.29 65.48 41.28
                        C 72.16 42.27 81.49 41.83 81.67 51.05
                        Q 81.89 62.00 81.90 72.94
                        Q 82.04 200.44 81.99 327.94
                        Q 81.99 328.77 82.71 330.33
                        Q 82.91 330.79 83.33 331.06
                        Z"
                      />
                      <path fill="#2b170f" d="
                        M 428.51 340.77
                        C 435.79 339.33 455.00 336.60 455.00 330.10
                        Q 455.00 193.42 455.00 56.75
                        C 455.00 54.01 455.04 48.82 456.44 46.26
                        C 458.77 42.01 466.57 41.69 468.45 46.58
                        Q 469.01 48.04 468.99 52.11
                        C 468.51 145.91 469.09 239.73 468.81 333.53
                        C 468.80 337.06 470.31 346.23 464.52 346.62
                        C 456.62 347.16 449.41 348.25 440.91 349.08
                        C 431.40 350.01 419.48 352.32 412.93 353.15
                        C 406.98 353.90 400.22 356.10 396.20 356.93
                        Q 388.32 358.55 380.23 359.23
                        A 0.66 0.66 0.0 0 1 379.81 358.02
                        C 393.79 349.05 413.68 343.69 428.51 340.77
                        Z"
                      />
                      <path fill="#2b170f" d="
                        M 40.69 355.81
                        C 43.57 361.78 57.32 360.73 63.07 361.63
                        C 75.24 363.53 88.76 365.52 99.53 368.43
                        Q 135.66 378.18 170.16 392.70
                        Q 182.41 397.85 193.59 405.72
                        A 0.70 0.70 0.0 0 1 193.18 407.00
                        C 183.97 406.87 171.21 402.58 154.57 398.41
                        Q 129.89 392.22 97.68 389.07
                        C 90.03 388.32 79.07 386.70 69.43 386.85
                        Q 46.74 387.20 24.03 386.84
                        C 18.96 386.76 16.01 385.78 16.01 380.19
                        Q 15.99 227.97 16.01 75.75
                        C 16.01 67.63 24.67 68.58 31.03 68.75
                        Q 40.16 69.00 40.15 78.31
                        Q 40.02 211.90 39.99 345.48
                        C 39.99 348.02 39.29 352.93 40.69 355.81
                        Z"
                      />
                      <path fill="#2b170f" d="
                        M 477.90 360.44
                        C 481.78 360.11 482.99 358.43 482.99 354.69
                        Q 483.01 217.77 483.00 80.85
                        C 483.00 75.36 483.51 69.40 490.57 68.91
                        Q 500.28 68.25 504.53 69.22
                        Q 509.23 70.29 509.22 76.06
                        Q 509.01 227.50 509.00 378.93
                        C 509.00 387.30 507.75 389.01 499.41 388.99
                        Q 465.37 388.91 431.31 389.11
                        Q 422.65 389.16 414.27 390.24
                        C 393.48 392.92 376.06 395.66 356.42 400.47
                        C 343.15 403.73 328.44 409.11 314.23 412.99
                        A 1.62 1.61 65.0 0 1 312.49 412.35
                        Q 311.28 410.62 313.22 408.95
                        C 328.79 395.58 347.01 387.92 366.00 380.75
                        Q 403.80 366.48 444.00 362.84
                        Q 447.98 362.48 451.98 361.88
                        C 460.57 360.60 469.25 361.17 477.90 360.44
                        Z"
                      />
                      </svg>
                    <h4 class="mb-12 mt-1 pb-1 text-xl font-semibold">
                      Livresque
                    </h4>
                  </div>
  
                  <form>
                    <p class="mb-4">Se connecter</p>
                    <!--Username input-->
                    <div class="relative mb-4" data-te-input-wrapper-init>
                      <input [(ngModel)]="email" name="email" required
                        type="text"
                        class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                        id="username"
                        placeholder="Username" />
                      <label
                        for="username"
                        class="pointer-events-none absolute left-3 top-[-1.3rem] mb-0 max-w-[90%] origin-[0]_[0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.3rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary"
                        >Utilisateur
                      </label>
                    </div>
  
                    <!--Password input-->
                    <div class="relative mb-4" data-te-input-wrapper-init>
                      <input [(ngModel)]="password" name="password" required
                        type="password"
                        class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                        id="password"
                        placeholder="Password" />
                      <label
                        for="password"
                        class="pointer-events-none absolute left-3 top-[-1.3rem] mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.3rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary"
                        >Mot de passe
                      </label>
                    </div>
  
                    <!--Submit button-->
                    <div class="mb-12 pb-1 pt-1 text-center">
                      <button (click)="login()"
                        class="border rounded-full border-book-lion p-4 text-book-lion mb-3 inline-block w-full  px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal   transition duration-150 ease-in-out hover:bg-brown-focus hover:text-brown-100   focus:ring-0 active:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)]"
                        type="button"
                        data-te-ripple-init
                        data-te-ripple-color="light"
                       >
                        Se connecter
                      </button>
  
                      <!--Forgot password link-->
                      <a href="#!">Mot de passe oublié?</a>
                    </div>
  
                    <!--Register button-->
                    <div class="flex items-center justify-between pb-6">
                      <p class="mb-0 mr-2">Vous n'avez pas de compte?</p>
                      <button
                        type="button"
                        class="inline-block border rounded-full border-book-lion p-4 text-book-lion px-6 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal text-danger ttransition duration-150 ease-in-out hover:bg-brown-focus hover:text-brown-100   focus:ring-0 active:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)]"
                        data-te-ripple-init
                        data-te-ripple-color="light">
                        S'inscrire
                      </button>
                    </div>
                  </form>
                </div>
              </div>
  
              <!-- Right column container with background and description-->
              <div
                class="flex items-center bg-login-img bg bg-contain bg-center bg-no-repeat rounded-b-lg lg:w-6/12 lg:rounded-r-lg lg:rounded-bl-none "
                b>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>