<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Se connecter</h3>
        <div class="formGroup">
          <input type="email" class="formControl" placeholder="Email" [(ngModel)]="email" name="email" required>
        </div>
        <div class="formGroup">
          <input type="password" class="formControl" placeholder="Mot de passe" [(ngModel)]="password" name="password" required>
        </div>
        <div class="formGroup">
          <button type="button" class="btn btnPrimary" (click)="login()">Se connecter</button>
        </div>
      </div>
      <div class="redirectToSignUp">
        <span>Pas encore inscrit?</span>
        <a routerLink="/register">S'inscrire</a>
      </div>
    </div>
  </div>
