 <div class="isbn">
   <form (ngSubmit)="onSubmit()">
     <div>
       <mat-form-field class="example-full-width" appearance="fill">
         <mat-label>ISBN</mat-label>
         <input matInput placeholder="" [formControl]="isbnForm">
       </mat-form-field>
     </div>
     <button class="button" type="submit" click="onSubmit()">Recherche</button>
   </form>
 </div>
 <ng-scrollbar style="height: 80%">
 <div class="fiche">
   <div class="couv"><img [src]="imageSrc" >
     <div *ngIf="imageSrc" class="validate"><button class="button" (click)="ShowInput()">Modifier la couverture</button>
     </div>
     <form (ngSubmit)="onUpdate()">
       <mat-form-field [ngClass]="[btnStyle]" appearance="fill">
         <mat-label>Adresse de la nouvelle image</mat-label>
         <input matInput placeholder="" [formControl]="image">
       </mat-form-field>
       <button class="button" [ngClass]="[btnStyle]" type="submit" (click)="onUpdate()">valider</button>
     </form>
   </div>
   <div class="infos">
    <mat-form-field class="example-full-width" appearance="fill" *ngIf="!resume?.title">
      <mat-label>Titre</mat-label>
      <input matInput placeholder="Ajouter un titre" [formControl]="title">
    </mat-form-field>
     <div class="title">{{resume?.title}}</div>
     <mat-form-field class="example-full-width" appearance="fill" *ngIf="!resume?.authors">
      <mat-label>Auteur</mat-label>
      <input matInput placeholder="Ajouter un auteur" [formControl]="authors">
    </mat-form-field>
     <div class="auteur"><b>Auteur: </b> <span *ngIf="resume" >{{resume.authors[0]}}</span></div>
     <div class="star">
       <!-- <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating> -->
     </div>
     <mat-form-field appearance="fill">
      <mat-label>Genres</mat-label>
      <mat-select [formControl]="genres" multiple>
        <mat-option *ngFor="let genre of genresList" [value]="genre">{{genre}}</mat-option>
      </mat-select>
    </mat-form-field>
     <div class="resume">
       
       <form (ngSubmit)="submitBookData()">
         <div class="mat-form">
           <mat-form-field appearance="fill" *ngIf="!resume?.description">
             <mat-label>Ajouter un résumé</mat-label>
             <textarea matInput [formControl]="synopsis" placeholder=></textarea>
           </mat-form-field>
         </div>
       </form>
     </div>
     <mat-form-field class="example-full-width" appearance="fill" *ngIf="!resume?.publisher">
      <mat-label>Editeur</mat-label>
      <input matInput placeholder="Ajouter un éditeur" [formControl]="publisher">
    </mat-form-field>
    
     <div class="editeur"><b>Editeur: </b>{{resume?.publisher}}</div>
     
     <div class="date-publi"><b>Date de publication: </b>{{resume?.publishedDate}}</div>
     
     <mat-form-field class="example-full-width" appearance="fill" *ngIf="!resume?.publishedDate">
      <input matInput [matDatepicker]="myDatepicker">
      <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
    </mat-form-field>
     <p>
       <mat-checkbox [formControl]="favoris"><b> Ajouter au favoris</b></mat-checkbox>
     </p>
     <button class="button" (click)="submitBookData()">Ajouter</button>
   </div>
   
 </div>
 <div class="resume">
 <span>Résumé:</span> <p>{{resume?.description}}</p></div>
</ng-scrollbar>
 
