<!--   <div class="home-bottom">
    <div class="galerie2" fxLayout="row">
      <figure *ngFor="let onebook of booksList">
        <img 
          [attr.data-isbnvalue]="onebook?.isbn"
          (click)="openBook(onebook?.isbn)"
          src="{{ onebook?.image }}"
          alt="{{ onebook?.title }}"
        />
        <span></span>
      </figure>
    </div>
  </div> -->




  <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
      <div *ngFor="let onebook of booksList">
          <img  [attr.data-isbn-value]="onebook?.isbn"
          (click)="openBook(onebook?.isbn)"
          src="{{ onebook?.image }}"
          alt="{{ onebook?.title }}" class="h-auto max-w-full rounded-lg" >
      </div>
     
  </div>